/*
*	@author avanderwoude

	Demo styles for possible validation. Useful to see how it works, but you'll likely want to override these yourself
*/

@green: #449d44;
@red: rgb(226, 0, 0);
@yellow: #ECB60C;

/* DEBUG */
.validateme{
background-color: lighten(@yellow, 30%);
}

.validateme-fail{
background-color: lighten(@red, 40%);
border:2px solid @red;
}

.validateme-pass{
background-color: lighten(@green, 20%);
border:1px solid green;
}
